@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {  
  /*============ COLORS ============*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 111;
  --sat: 40%;
  --hue-2: 0;
  --sat-2: 0%;
  --title-color: hsl(var(--hue), var(--sat), 15%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue-2), var(--sat-2), 20%);
  --body-color: hsl(var(--hue), var(--sat), 80%);
  --container-color: rgb(255, 255, 255);
  --box-color: rgba(255, 255, 255, 0.5);

  /*============ FONT AND TYPOGRAPHY ============*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --xsmall-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /*============ FONT WEIGHT ============*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 800;

  /*============ MARGIN BOTTOMS ============*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  }
  
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(125deg, var(--box-color), var(--body-color));
}

h1, h2 {
  padding: 0 2rem;
}

.container-404 {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--title-color);
}

.container-404 h1 {
  font-size: 10rem;
  margin: 0;
  font-weight: var(--font-bold);
  letter-spacing: 1.25rem;
  padding: 0 2rem;
  background-color: var(--title-color);
  background-clip: text;
}

.container-404 p {
  font-size: var(--h3-font-size);
  padding: 0 2rem;
}
  
.container-404 a {
  text-decoration: none;
  background: var(--title-color);
  color: var(--container-color);
  padding: .75rem 1.5rem;
  display: inline-block;
  border-radius: 1.5rem;
  border: 1px solid var(--title-color);
  font-size: .875rem;
  text-transform: uppercase;
  transition: 0.4s;
}
  
.container-404 a:hover {
  background: var(--container-color);
  color: var(--title-color);
}

/*============ BREAKPOINTS ============*/
@media screen and (max-width: 475px) {
  .container-404 h1 {
    font-size: 5rem;
  }
}